In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import accuracy_score

In [7]:
import pandas as pd 
import os
from sklearn.datasets import load_breast_cancer
import pandas as pd
from sklearn.model_selection import KFold 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.svm import SVC  
import random

In [24]:
data = pd.read_csv('../../../data_analysis/heatAlerts.csv')
data.head()

,ID,FDAT,Calving Season Code,DIMatheat,DIM at Heat Code,Lact,Parity,heat_DATE,Heat Date Code,SB_FHIACBAR,...,OBSERV.,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
0,5583.0,4/12/20,0.0,41.0,1.0,2.0,Multiparous,5/23/20,0.0,20:00:00,...,FRESH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5476.0,4/23/20,0.0,113.0,3.0,2.0,Multiparous,8/14/20,1.0,NO PROGRESSIVE HIGH ACTIVITY BARS,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5643.0,7/10/20,1.0,37.0,1.0,2.0,Multiparous,8/16/20,1.0,NO PROGRESSIVE HIGH ACTIVITY BARS,...,FRESH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6415.0,4/10/20,0.0,78.0,2.0,1.0,Primiparous,6/27/20,1.0,20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6548.0,6/24/20,1.0,1.0,1.0,1.0,Primiparous,6/25/20,1.0,14:00:00,...,FRESH/ RECENT CALVING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df = data[data['outcome'] != "."]

In [26]:
df

,ID,FDAT,Calving Season Code,DIMatheat,DIM at Heat Code,Lact,Parity,heat_DATE,Heat Date Code,SB_FHIACBAR,...,OBSERV.,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
1,5476.0,4/23/20,0.0,113.0,3.0,2.0,Multiparous,8/14/20,1.0,NO PROGRESSIVE HIGH ACTIVITY BARS,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6415.0,4/10/20,0.0,78.0,2.0,1.0,Primiparous,6/27/20,1.0,20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4796.0,3/24/20,0.0,72.0,2.0,3.0,Multiparous,6/4/20,1.0,18:00:00,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4762.0,4/8/20,0.0,85.0,2.0,3.0,Multiparous,7/2/20,1.0,15:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,249.0,11/13/19,0.0,218.0,5.0,4.0,Multiparous,6/18/20,1.0,18:00:00,...,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
for i in range(1,10):
    df = df.drop(['Unnamed: 4' + str(i)], axis = 1)

In [28]:
df

,ID,FDAT,Calving Season Code,DIMatheat,DIM at Heat Code,Lact,Parity,heat_DATE,Heat Date Code,SB_FHIACBAR,...,CDAT,DCC_IF_P,PDCC,DDRY,EASE,Ease Code,Calf Sex and Survival,TWIN,DOA,OBSERV.
1,5476.0,4/23/20,0.0,113.0,3.0,2.0,Multiparous,8/14/20,1.0,NO PROGRESSIVE HIGH ACTIVITY BARS,...,.,.,277.0,52.0,1.0,No problem,MA,T,0.0,.
3,6415.0,4/10/20,0.0,78.0,2.0,1.0,Primiparous,6/27/20,1.0,20:00:00,...,6/27/20,0,276.0,0.0,1.0,No problem,MA,S,0.0,NaN
6,4796.0,3/24/20,0.0,72.0,2.0,3.0,Multiparous,6/4/20,1.0,18:00:00,...,7/19/20,.,272.0,43.0,1.0,No problem,FA,S,0.0,.
7,4762.0,4/8/20,0.0,85.0,2.0,3.0,Multiparous,7/2/20,1.0,15:00:00,...,.,.,281.0,51.0,1.0,No problem,MD,S,1.0,NaN
10,249.0,11/13/19,0.0,218.0,5.0,4.0,Multiparous,6/18/20,1.0,18:00:00,...,6/18/20,0,277.0,79.0,1.0,No problem,MA,S,0.0,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
def trim_all_columns(df):
    """
    Trim whitespace from ends of each value across all series in dataframe
    """
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)
df = trim_all_columns(df)

In [38]:
df = df[df['ID'] != 'NaN']

In [39]:
df

,ID,FDAT,Calving Season Code,DIMatheat,DIM at Heat Code,Lact,Parity,heat_DATE,Heat Date Code,SB_FHIACBAR,...,CDAT,DCC_IF_P,PDCC,DDRY,EASE,Ease Code,Calf Sex and Survival,TWIN,DOA,OBSERV.
1,5476.0,4/23/20,0.0,113.0,3.0,2.0,Multiparous,8/14/20,1.0,NO PROGRESSIVE HIGH ACTIVITY BARS,...,.,.,277.0,52.0,1.0,No problem,MA,T,0.0,.
3,6415.0,4/10/20,0.0,78.0,2.0,1.0,Primiparous,6/27/20,1.0,20:00:00,...,6/27/20,0,276.0,0.0,1.0,No problem,MA,S,0.0,NaN
6,4796.0,3/24/20,0.0,72.0,2.0,3.0,Multiparous,6/4/20,1.0,18:00:00,...,7/19/20,.,272.0,43.0,1.0,No problem,FA,S,0.0,.
7,4762.0,4/8/20,0.0,85.0,2.0,3.0,Multiparous,7/2/20,1.0,15:00:00,...,.,.,281.0,51.0,1.0,No problem,MD,S,1.0,NaN
10,249.0,11/13/19,0.0,218.0,5.0,4.0,Multiparous,6/18/20,1.0,18:00:00,...,6/18/20,0,277.0,79.0,1.0,No problem,MA,S,0.0,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN